/* style.css */
body {
    font-family: sans-serif;
    background-color: #0C1A2B;
    color: #E0E0E0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, main, footer {
    padding: 20px;
    text-align: center;
}

main {
    flex-grow: 1;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.project-card {
    background-color: #1E2D3D;
    padding: 20px;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.project-card:hover {
    transform: scale(1.05);
}

footer {
    background-color: #1E2D3D;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 0.8em;
}

/* Fake Aadhar Card Styling */
.fake-aadhar-container {
      position: fixed;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
      width: 300px;
      height: 200px;
}

.card-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  perspective: 1000px; /* For 3D effect */
}

.card {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transition: transform 0.8s;
  transform-style: preserve-3d;
  backface-visibility: hidden; /* Hide back face initially */
  color: #333;
  padding: 20px;
  text-align: center;
}

.card-content {
      /* style of all the content  */
}

#aadhar-back {
  transform: rotateY(180deg);
}

